<footer class="credits">
	<h3>If you would like to help contribute to the site (thanks!), you can do so in two ways:</h3>
	<ol>
		<li>Submit an example link directly to us on <a href="http://www.twitter.com/dragongraphics">Twitter</a></li>
		<li>To add an interaction or animation technique you have created to the site, feel free to <a href="/kickoff/docs/editing.html">fork the repo and create a pull request</a> with your example code added.</li>
	</ol>

	<div class="row">
		<div class="col span8">
			<p>
			The Visual Web is maintained by <a href="http://www.twitter.com/dragongraphics">Ashley Nolan</a> and<br><a href="http://www.twitter.com/mrmartineau">Zander Martineau</a>
			</p>
		</div>
		<div class="col span4 social-links text-right">
			<a href="http://github.com/tmwagency/the-visual-web" class="btn-primary">Github</a>
			<a href="http://twitter.com/tmwkickoff" class="btn-primary">Twitter</a>
		</div>
	</div>


</footer>
