<header class="masthead">
	<h1><a href="/kickoff/">The Visual Web</a></h1>
	<h2>Curated by <a href="http://tmw.co.uk"><abbr title="Tullo Marshall Warren">TMW</abbr></a></h2>

	<nav class="nav">
		<a href="/the-visual-web/"{% if page.navgroup == "home" %} class="is-active"{% endif %}>Overview</a>
		<a href="/the-visual-web/contents/"{% if page.navgroup == "docs" %} class="is-active"{% endif %}>Contents</a>
		<!-- <a href="/kickoff/blog"{% if page.navgroup == "blog" %} class="is-active"{% endif %}>Blog</a> -->
		<a href="https://github.com/tmwagency/the-visual-web/" class="github-link" target="_blank">View on Github</a>
	</nav>
</header>