{% if page.navgroup == "home" %}
<header class="masthead masthead-home">
	<h1>The Visual Web</h1>
	<h2 class="gamma">Curated by <a href="http://tmw.co.uk"><abbr title="Tullo Marshall Warren">TMW</abbr></a></h2>
{% else %}
<header class="masthead masthead-all">
	<div class="container">
		<h1 class="logo"><a href="/the-visual-web/">The Visual Web</a></h1>
{% endif %}

	<nav class="nav">
		<a href="/the-visual-web/"{% if page.navgroup == "home" %} class="is-active"{% endif %}>Overview</a>
		<a href="/the-visual-web/demos/"{% if page.navgroup == "demos" %} class="is-active"{% endif %}>Demos</a>
		<a href="/the-visual-web/in-the-wild.html"{% if page.navgroup == "in-the-wild" %} class="is-active"{% endif %}>In the wild</a>
		<a href="/the-visual-web/blog"{% if page.navgroup == "blog" %} class="is-active"{% endif %}>Updates</a>
		<a href="https://github.com/tmwagency/the-visual-web/" class="github-link" target="_blank">View on Github</a>
	</nav>

{% if page.navgroup != "home" %}
	</div>
{% endif %}

</header>